.btn{
    width: 100px;
    height: 50px;
    background-color: cadetblue;
   
    border-radius: 10px;
    font-size: 20px;
    transition: 0.3s;
    font-weight: 700;
}
.btn:hover{
    font-size: large;
    color: #77fcfc;
    background-color: rgb(83, 137, 138);
}